.container {
    width: 73%;
    padding: 0 20px;
}

.name {
    position: relative;
    font-size: 25px;
    margin-bottom: 7px;
    height: 25px;
}

.status {
    position: relative;
    margin-bottom: 15px;
    height: 13px;
}

.hr {
    height: 1px;
    width: 100%;
    background-color: rgb(229, 236, 235);
    margin-bottom: 15px;
}

.item {
    display: flex;
    margin-bottom: 12px;
}

.item-a--bottom {
    margin-bottom: 14px;
}

.item-data {
    width: 30%;
    color: rgb(117, 117, 117);
}

.item-a {
    width: 70%;
    color: rgb(1, 80, 133);
    text-decoration: none;
}

.item-a:hover {
    text-decoration: underline;
}