.menu {
    height: 92vh;
    width: 20%;
    padding: 0 10px 0 10px;
}

.item {
    padding-left: 10px;
    border-radius: 3px;
    list-style-type: none;
    transition: all .2s linear;
}

.item:hover {
    background-color: rgb(225, 232, 245);
}

.item:hover .menu-img {
    margin-right: 20px;
    transform: scale(1.15);
}

.item a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
    font-size: 16px;
    line-height: 40px;
}

.menu-img {
    margin-right: 12px;
    width: 30px;

    transition: all .2s linear;
}