.menu {
    height: 92vh;
    width: 20%;
    padding: 0 10px 0 10px;
}

.item {
    padding-left: 10px;
    border-radius: 3px;
    list-style-type: none;
    transition: all .2s linear;
}

.hr {
    height: 1px;
    width: 70%;
    background-color: rgb(173, 173, 173);
    margin: 15px;
}

.item:hover {
    background-color: rgba(225, 227, 231, 0.877);
}

.item:hover .menu-img {
    transform: scale(1.1);
    margin-right: 15px;
}

.NavLink {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
    font-size: 14px;
    line-height: 37px;
    outline: none !important;
}

.menu-img {
    margin-right: 12px;
    width: 30px;

    transition: all .2s linear;
}