* {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1160px;
}

.App {
    background-color: rgba(229, 232, 232, 0.822);
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.3px;
}






.network {
    padding-top: 2vh;
}

.network__sections {
    display: flex;
}

.network__content {
    width: 80%;
    min-height: 90vh;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 5px;
    position: relative;
}
