.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.top {
    width: 100%;
    height: 60px;
    background-color: rgba(226, 227, 228, 0.432);
    padding: 0 0 0 40px;
    margin-bottom: 5px;
}

.all_users {
    width: 150px;
    font-size: 16px;
    color: #2a5885;
    font-weight: 500;

    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #2a5885;
    height: 100%;
    cursor: pointer;
}

.body {
    width: 100%;
    margin: auto 0 0 0;
}

.numbers {
    display: flex;
    justify-content: center;
}

.item_active {
    font-size: 15px;
    color: #2a5885;
    font-weight: bold;

    padding: 20px 20px;
    cursor: pointer;
    border-bottom: 2px solid #2a5885;
    background-color: rgba(245, 245, 245, 0.692);
}

.item {
    color: #2a5885;
    font-size: 15px;

    padding: 20px 20px;
    cursor: pointer;
}










.user {
    width: 100%;
    height: 148px;
    display: flex;
}

.user_img {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
}

.content {
    width: 70%;
    display: flex;
    border-bottom: #bad0e9 1px solid;
}

.information {
    width: 80%;
}

.name {
    font-size: 16px;
    font-weight: 500;
    color: #2a5885;
    cursor: pointer;
    margin-top: 20px;
}

.name:hover {
    text-decoration: underline;
}

.status {
    margin-top: 5px;
}

.location {
    margin-top: 20px;
    color: #2a5885;
    cursor: pointer;
}

.location:hover {
    text-decoration: underline;
}




.button_cont {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.button_off {
    width: 150px;
    padding: 10px 0;
    background-color: #5181b8;
    color: #fff;
    font-weight: 500;
    border: 0;
    border-radius: 5px;
}

.button_off:hover {
    background-color: #5b93d3;
}

.button_on {
    width: 150px;
    padding: 10px 0;
    background-color: #ebf0f5ab;
    color: rgb(126, 126, 126);
    font-weight: 500;
    border: 0;
    border-radius: 3px;
}

