.container {
    width: 100%;
    height: 148px;
    display: flex;
}

.link {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
}

.component {
    width: 70%;
    display: flex;
    border-bottom: #bad0e9 1px solid;
}

.information {
    width: 80%;
}

.information-name {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #2a5885;
    cursor: pointer;
    margin-top: 20px;
}

.information-name:hover {
    text-decoration: underline;
}

.information-status {
    margin-top: 5px;
}

.information-location {
    margin-top: 20px;
    color: #2a5885;
    cursor: pointer;
}

.information-location:hover {
    text-decoration: underline;
}




.button {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.button-off {
    width: 150px;
    padding: 10px 0;
    background-color: #5181b8;
    color: #fff;
    font-weight: 500;
    border: 0;
    border-radius: 5px;
}

.button-off:hover {
    background-color: #5b93d3;
}

.button-on {
    width: 150px;
    padding: 10px 0;
    background-color: #ebf0f5ab;
    color: rgb(126, 126, 126);
    font-weight: 500;
    border: 0;
    border-radius: 3px;
}

