* {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1160px;
}






.network {
    background-color: rgb(233, 233, 233);
    height: 95vh;
    padding-top: 2vh;
}

.network__sections {
    display: flex;
}
