header {
    background-color: #fff;
}

.header__cont {
    height: 5vh;
    display: flex;
    justify-content: left;
    align-items: center;
}

.header__cont-img {
    height: 100%;
    max-height: 37px;
    padding-left: 12px;
}