.network__menu {
    width: 20%;
    padding: 0 10px 0 10px;
}

.network__menu ul li {
    transition: all .2s linear;
}

.network__menu ul li {
    padding-left: 10px;
    border-radius: 5px;
    list-style-type: none;
}

.network__menu ul li:hover {
    background-color: rgb(224, 224, 224);
}

.network__menu ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
    font-size: 16px;
    line-height: 35px;
}

.network__menu ul li a img {
    margin-right: 15px;
    width: 45px;
}