.container {
    position: relative;
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.photo {
    width: 100%;
    height: 83%;
    object-fit: cover;
    border-radius: 2px;
    cursor: pointer;
}

.edit {
    display: inline-block;
    height: 14%;
    text-align: center;
    background-color: rgba(229, 232, 232, 0.822);
    padding: 13px 0;
    margin-top: auto;
    text-decoration: none;
    color: rgb(25, 96, 129);
    border-radius: 5px;
}

.container .edit:hover {
    color: rgb(110, 118, 145);
}